# Reviewers (and by extension approvers) will be the default owners for everything in the repo.
# Unless a later match takes precedence, @reviewers will be requested for review when someone opens a pull request.
* @ros2/tooling-reviewers
