name: Test rosbag2
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Run every hour. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 * * * *'

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-focal-latest
    steps:
    - name: Build and run tests
      uses: ros-tooling/action-ros-ci@v0.2
      with:
        target-ros2-distro: rolling
        vcs-repo-file-url: https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos
        colcon-defaults: |
          {
            "build": {
              "cmake-args": [
                "-DCMAKE_CXX_FLAGS=\"-Werror\""
              ]
            },
            "test": {
              "ctest-args": ["-LE", "xfail"],
              "pytest-args": ["-m", "not xfail"]
            }
          }
    - name: Run xfail tests (not required to succeed)
      continue-on-error: true
      run: colcon test --event-handlers console_cohesion+ --return-code-on-test-failure --ctest-args "-L xfail" --pytest-args "-m xfail"
    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action@v1
      with:
        files: build/**/test_results/**/*.xml
    - uses: actions/upload-artifact@v1
      with:
        name: colcon-logs
        path: ros_ws/log
