name: Test rosbag2
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Run every hour. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 * * * *'

jobs:
  build_and_test:
    name: build_and_test_${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2019]
    steps:
    - uses: ros-tooling/setup-ros@add-cmake-windows
    - uses: ros-tooling/action-ros-ci@master
      with:
        package-name: ros2bag rosbag2_compression rosbag2_cpp rosbag2_storage rosbag2_storage_default_plugins rosbag2_test_common rosbag2_tests shared_queues_vendor sqlite3_vendor
    - uses: actions/upload-artifact@master
      with:
        name: colcon-logs
        path: ros_ws/log
